body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

#filter-form {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#filter-form input,
#filter-form select,
#filter-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#productsList {
    list-style-type: none;
    padding: 0;
}

#productsList li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagination {
    text-align: center;
    margin: 20px 0;
}

#pagination a {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#pagination a:hover {
    background-color: #555;
}

#pagination span {
    margin: 0 10px;
}

